## -*- coding: utf-8 -*-

<%def name="html_headstart()">
<!DOCTYPE html>
<!--[if IE 9]>
<html lang="en" class="ie9">
<![endif]-->
<!--[if !IE]><!-->
<html
\
% if use_open_graph or (twitter_card and twitter_card['use_twitter_cards']) or (comment_system == 'facebook'):
prefix='\
%if use_open_graph or (twitter_card and twitter_card['use_twitter_cards']):
og: http://ogp.me/ns# \
%endif
%if use_open_graph:
article: http://ogp.me/ns/article# \
%endif
%if comment_system == 'facebook':
fb: http://ogp.me/ns/fb# \
%endif
'\
%endif
\
% if is_rtl:
dir="rtl" \
% endif
\
lang="${lang}">
    <head>
    <meta charset="utf-8">
    %if description:
    <meta name="description" content="${description}">
    %endif
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>${title|striphtml} | ${blog_title|striphtml}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Oxygen:wght@400;700&display=swap" rel="stylesheet">
    ${html_stylesheets()}
    ${html_feedlinks()}
    %if permalink:
      <link rel="canonical" href="${abs_link(permalink)}">
    %endif

    %if favicons:
        %for name, file, size in favicons:
            <link rel="${name}" href="${file}" sizes="${size}"/>
        %endfor
    %endif

    % if comment_system == 'facebook':
        <meta property="fb:app_id" content="${comment_system_id}">
    % endif

    %if prevlink:
        <link rel="prev" href="${prevlink}" type="text/html">
    %endif
    %if nextlink:
        <link rel="next" href="${nextlink}" type="text/html">
    %endif

    ${mathjax_config}
    %if use_cdn:
        <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    %else:
        <!--[if lt IE 9]><script src="${url_replacer(permalink, '/assets/js/html5.js', lang)}"></script><![endif]-->
    %endif

    ${extra_head_data}
</%def>

<%def name="late_load_js()">
    %if use_bundles:
        %if use_cdn:
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
            <script src="/assets/js/all.js"></script>
        %else:
            <script src="/assets/js/all-nocdn.js"></script>
        %endif
    %else:
        %if use_cdn:
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        %else:
            <script src="/assets/js/jquery.min.js"></script>
            <script src="/assets/js/bootstrap.min.js"></script>
        %endif
        <script type="text/javascript" src="/assets/js/modernizr.js"></script>
        <script type="text/javascript" src="/assets/js/isotope.js"></script>
        <script type="text/javascript" src="/assets/js/jquery.backstretch.js"></script>
        <script type="text/javascript" src="/assets/js/jquery.appear.js"></script>
        <script type="text/javascript" src="/assets/js/template.js"></script>
        <script type="text/javascript" src="/assets/js/custom.js"></script>
        <script type="text/javascript" src="/assets/js/jquery.colorbox-min.js"></script>
    %endif
    <%doc>
    % if colorbox_locales[lang]:
        <!-- script src="/assets/js/colorbox-i18n/jquery.colorbox-${colorbox_locales[lang]}.js"></script -->
    % endif
    </%doc>
    ${social_buttons_code}
</%def>


<%def name="html_stylesheets()">
    %if use_bundles:
        %if use_cdn:
            <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
            <link href="/assets/css/all.css" rel="stylesheet" type="text/css">
            <link href="http://fonts.googleapis.com/css?family=Oxygen:400,300,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
            <link href="http://fonts.googleapis.com/css?family=Raleway:700,400,300" rel="stylesheet" type="text/css">
        %else:
            <link href="/assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
            <link href="http://fonts.googleapis.com/css?family=Oxygen:400,300,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
            <link href="http://fonts.googleapis.com/css?family=Raleway:700,400,300" rel="stylesheet" type="text/css">
        %endif
    %else:
        <link href="//fonts.googleapis.com/css?family=Oxygen:400,300,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Raleway:700,400,300" rel="stylesheet" type="text/css">
        %if use_cdn:
            <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
        %else:
            <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        %endif
        <link href="/assets/css/font-awesome.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/animations.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/rst.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/code.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/colorbox.css" rel="stylesheet" type="text/css">
        <!-- link href="/assets/css/animate.css" rel="stylesheet" type="text/css" -->
        %if has_custom_css:
            <link href="/assets/css/custom.css" rel="stylesheet" type="text/css">
        %endif
    %endif
    % if annotations and post and not post.meta('noannotations'):
        ${notes.css()}
    % elif not annotations and post and post.meta('annotations'):
        ${notes.css()}
    % endif
</%def>

<%def name="html_navigation_links()">
    %for url, text in navigation_links[lang]:
        % if isinstance(url, tuple):
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">${text}<b class="caret"></b></a>
            <ul class="dropdown-menu">
            %for suburl, text in url:
                % if rel_link(permalink, suburl) == "#":
                    <li class="active"><a href="${permalink}">${text}</a>
                %else:
                    <li><a href="${suburl}">${text}</a>
                %endif
            %endfor
            </ul>
        % else:
            % if rel_link(permalink, url) == "#":
                <li class="active"><a href="${permalink}">${text}</a>
            %else:
                <li><a href="${url}">${text}</a>
            %endif
        % endif
    %endfor
</%def>

<%def name="html_feedlinks()">
    %if rss_link:
        ${rss_link}
    %elif generate_rss:
        %if len(translations) > 1:
            %for language in translations:
                <link rel="alternate" type="application/rss+xml" title="RSS (${language})" href="${_link('rss', None, language)}">
            %endfor
        %else:
            <link rel="alternate" type="application/rss+xml" title="RSS" href="${_link('rss', None)}">
        %endif
    %endif
</%def>

<%def name="html_translations()">
    %for langname in translations.keys():
        %if langname != lang:
            <li><a href="${_link("index", None, langname)}" rel="alternate" hreflang="${langname}">${messages("LANGUAGE", langname)}</a></li>
        %endif
    %endfor
</%def>
